body {
    color:rgb(158, 226, 226);
    background-color: rgb(223, 173, 202);
}
h1 {color: bisque; background-color:rgb(78, 105, 116)}
h2 {color: rgb(175, 226, 226);}
a {color: rgb(156, 212, 214);}
