body {
    color:rgb(6, 109, 109);
    background-color: rgb(207, 133, 176);
}
h1 {color: rgb(2, 237, 245); background-color:rgb(78, 105, 116)}
h2 {color: rgb(69, 182, 182);}
a {color: rgb(62, 207, 212);}
