body {
    color:rgb(6, 109, 109);
     background-color: rgb(207, 133, 176);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {color: rgb(2, 237, 245); background-color:rgb(78, 105, 116);
     font-family: Verdana, Geneva, Tahoma, sans-serif;}
h2 {color: rgb(69, 182, 182);    font-family: Verdana, Geneva, Tahoma, sans-serif;}
a {color: rgb(62, 207, 212);    font-family: Verdana, Geneva, Tahoma, sans-serif;}
nav a {color:crimson}
nav {color:hotpink}
nav a:hover {background-color:rgb(241, 24, 241)}
nav {padding: 10px;
    margin-bottom: 30px;
background-color:darksalmon}